
.titleBlog02 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.containerBanner {
    width: auto;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgBanner{
    width: 50rem;
    height: 30rem;
    
}

.subTitleBlog02 {
    width: 95%;
    height: 6rem;
    font-size: 36px;
    margin-top: 2rem;
    color: black;
    text-align: center;
}

.p-Blog02 {
    width: 95%;
    height: 3rem;
    text-align: center;
}

.p-rocketSeat {
    margin-top: 1rem;
    height: 2rem;
    font-size: 12px;
}